*.tmp
log.txt
log_config.txt
bin/
avr/build/*
baan
baan.so
config_reader
configs/*
web/trains_img/*
!web/trains_img/.gitkeep
web/tmp_*
*.~vsdx
*.~docx
test/libbaan.so
test/maintest
test/bin/*
test/testresults/*
comtest
uartlog.txt
