@import url('modules.css');
@import url('EModules.css');

* {
	margin: 0px;
	padding: 0px;
}
body,html {
	width:100%;
	height:100%;
	overflow: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

body {
	min-width:550px; /* suppose you want minimun width of 1000px */
	 width: auto !important;  /* Firefox will set width as auto */
	 width:550px;
	 overflow-y: hidden;
}

ul {
	 margin-left:20px;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

h1, h2 {
		display: inline-block;
		font-family: sans-serif;
}

#header .icon {fill: #000;}
#header .backgr {fill:#fff;}
#header svg:hover .icon{fill: #fff;}
#header svg:hover .backgr {fill:#000;}
#header svg:hover {cursor:pointer}
#header svg {
	max-height: 30px;
	max-width: 30px;
	margin:5px;
}

#header #status .info {
	display: none;
	position: absolute;
	right:50px;
	top:40px;
	width:180px;
    background-color: grey;
    z-index:19;
    border-radius:5px;
    text-align: center;
    font-family: sans-serif;
}

#header #status:hover .info {
	display: block;
}

#header #status .info .header{
	display: inline-block;
	height: 20px;
	width: calc(100% - 10px);
    padding: 2px 5px;
    border-radius: 5px 5px 0 0;
	color: white;
	font-weight: bold;
    line-height: 20px;
	background: #333;
}

#header #status .info .content {
	padding: 5px;
	height: 20px;
}

#header #status .info .broad {
	width: 20px;
	height:16px;
	line-height:16px;
	float:left;
	color:white;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}

#clock {
	position:absolute;
	left:calc(50% - 50px);
	width: 100px;
	text-align: center;
	color:white;
}

#menu_button {
	margin:6px;
	margin-right:20px;
	width:16px;
	height:16px;
	padding:6px;
	float:right;
	border-radius: 18px;
	cursor: pointer;
}

#menu {
	float: right;
	width: 300px;
	height: 311px;
	position: absolute;
	right: 10px;
	top: 50px;
	background-color: grey;
	z-index: 20;
	border-radius: 5px;
}

#menu ul{
	margin:0px;
}

#menu li {
	text-align: center;
	font-size: large;
	padding: 15px;
	border-bottom: 1px solid black;
	list-style-type: none;
	margin: 0px;
	cursor: pointer;
}

#menu li:hover {
	background-color: #aaa;
}

.Module{
	position: absolute;
}
.Switch {
	cursor: pointer;
	opacity: 0;
}

#warning_list {
	position:absolute;
	top:40px;
	left:calc(50% - 275px);
	width:500px;
	height: 0px;
	z-index:40;
	font-family:sans-serif;
	color:white;
}

.warning_list_active {
	padding: 0px 25px;
}

.warning_list_nactive {
	padding: 0px 25px;
}

.warning {
	position:relative;
	width:470px;
	min-height:30px;
	border-radius:10px;
	border:2px solid black;
	background-color:red;
	margin: 20px auto;
	padding:15px
}

.warning .photobox {
	width:30px;height:30px
}

.warning .l {
	float: left;
}

.warning .r {
	float: right;
}

.warning img {
	max-height:100%;max-width:100%
}

.warning h2 {
	margin-bottom: 10px;
}

.warning but {
	padding:4px;
	border-radius:4px;
	background-color: #000;
	cursor: pointer;
}

.warning but:hover {
	background-color:#fff;
	color: black;
}

.warning select {
	width: 100%;
	height: 38px;
  background: #999;
  border: 1px solid #999;
	font-family: monospace;
}

.Window {
	height: calc(100% - 40px);
	overflow: auto;
	position: relative;
}



table {
  border-collapse: collapse;
  width: 100%;
	table-layout: fixed;
}

td,th {
	padding:3px;
  width: 100px;
  text-align: center;
  border-bottom: 1px solid black;
}
th {
  background-color: #aaa;
  height: 40px;
}

#Route_Button {
  padding:5px;
  max-width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family:sans-serif;
	margin: auto;
  vertical-align: center;
  text-align: center;
  position:relative;
  cursor: pointer;
}

#Route_Button:hover {
  background-color: #777;
  color: black;
}

#Station_List select {
	width: 80%;
	margin: auto;
	height: 38px;
  background: #999;
  border: 1px solid #999;
	font-family: monospace;
}

#Station_List input {
	background: #999;
	width: 40px;
    border: none;
    text-align: center;
}

#Station_List {
	z-index: 5;
	width: 350px;
	height: 165;
	padding: 10px;
	margin: auto;
	position: absolute;
	left: calc(50% - 185px);
	top: 50px;
	border-radius: 10px;
	border: 3px solid black;
	background-color:grey;
	text-align: center;
}

#Add_button {
  padding:5px;
  max-width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family:sans-serif;
	margin: auto;
  vertical-align: center;
  text-align: center;
  position:relative;
  cursor: pointer;
}

#Add_button:hover {
  background-color: #777;
  color: black;
}

#Train_Add {
  background-color: white;
  width: 380px;
  padding: 10px;
  height:680px;
  left:calc(50% - 200px);
  position:absolute;
  top: 50px;
  margin: auto;
  border-radius: 10px;
  border: 3px solid black;
}

#Settings_box {
  background-color: white;
  width: 750px;
  padding: 10px 0px;
  left:calc(50% - 378px);
  position:absolute;
  top: 50px;
  margin: auto;
  border-radius: 10px;
  border: 3px solid black;
}

#Settings_box table{
	width: 375px;
	float:left;
}

#Train_Settings_box {
  background-color: white;
  width: 300px;
  padding: 10px 0px;
  left:calc(50% - 150px);
  position:absolute;
  top: 50px;
  margin: auto;
  border-radius: 10px;
  border: 3px solid black;
	text-align: center;
}

.switchbox {
	height: 150px;
	width: 70px;
	display: inline-block;
	padding: 5px;
	border-right: 1px solid black;
	white-space: normal;
	font-family: sans-serif;
	float: left;
}

.switchbox svg{
	margin-bottom: 5px;
}

.notConnected {
	opacity: 0.5;
	cursor: not-allowed;
}

.Connected {
	opacity: 1;
	cursor: pointer;
}



#CTrain {
	max-width: 100%;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

#CTrain  .trainbox {
	width: 300px;
	height: 425px;
	padding:20px;
	margin:20px;
	border-radius:10px;
	background-color: #f1f1f1;
	border: 1px solid #d1d1d1;
	font-family:sans-serif;
	text-align:center;
	display: inline-block;
	position: relative;
  vertical-align: top;
}

.trainbox .image_box img {
	width: 100%;
	position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.trainbox .image_box {
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.trainbox .name_tag{
	border-top: 1px solid white;
	padding: 5px;
	background-color: #565656;
	color: white;
}

.trainbox .route_tag, .trainbox .control_tag, .trainbox .dir_tag{
	border-top: 1px solid #aaa;
	padding: 5px;
	position: relative;
}

.trainbox .title {
	font-weight: bold;
	float:left;
}

.trainbox .name_tag .value, .trainbox .control_tag .value {
	float:right;
}

.trainbox .route_tag .value {
	position:absolute;
	bottom:5px;
	right:30px;
}

.trainbox .prim_fn {
	width: 300px;
	height: 50px;
	position: absolute;
	left: 20px;
	bottom: 100px;
}

.trainbox .secu_fn {
	width: 300px;
	height: 80px;
	overflow: hidden;
	float: left;
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.trainbox .secu_fn .D1 {
	width: 317px;
  height: 100%;
  overflow-y: scroll;
  /*padding-right: 17px;*/
}

.trainbox .secu_fn .D2 {
	width: 300px;
  /*padding-right: 17px;*/
}

.trainbox svg .dbox{
	fill:#CECECE;
	stroke:#AFAFAF;
	stroke-miterlimit:10;
}

.trainbox svg .ebox{
	fill:#EBBA16;
	stroke:#D6A416;
	stroke-miterlimit:10;
}

.trainbox svg .text, .trainbox svg .img{
	fill:#FFFFFF;
	font-family:sans-serif;
	font-size:5px;
}

.trainbox svg .dtext {
	fill:#FFFFFF;
	font-family:sans-serif;
	font-size:11px;
}

.trainbox svg .dutext {
	fill:#AFAFAF;
	font-family:sans-serif;
	font-size:11px;
}

.trainbox svg .utext, .trainbox svg .uimg{
	fill:#AFAFAF;
	font-family:sans-serif;
	font-size:5px;
}

.trainbox svg .line{
	fill:none;
	stroke:#AFAFAF;
	stroke-linecap:round;
	stroke-miterlimit:500;
	stroke-dasharray:0.9911,2.9732,0,0,0,0;
}

.trainbox svg:not(.dir_arrow):not(.route_plus) {
	width:50px;
	margin:5px;
}

.trainbox .dir_arrow{
	height:30px;
	display: block;
	margin: auto;
}

.trainbox .dir_left, .trainbox .dir_right{
	stroke:#f7f7f7;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:10px;
	cursor: pointer;
}

.trainbox .dir_left:not(.selected):hover, .trainbox .dir_right:not(.selected):hover {
	fill:#8b8;
}

.trainbox .dir_left:not(.selected), .trainbox .dir_right:not(.selected) {
	fill:#aaa;
}

.trainbox .dir_left.selected, .trainbox .dir_right.selected {
	fill:#16c90e;
}

.trainbox .route_plus{
	height:15px;
	float:right;
	cursor:pointer;
}

.trainbox .route_plus:hover path{
	fill:#aaa;
}

.trainbox .route_plus:hover circle{
	fill:#111;
}

.trainbox .route_plus path{
	fill:#000;
}

.trainbox .route_plus circle{
	fill:#bbb;
}

#MTrain {
	text-align: center;
	margin: 0 auto;
}

.MTrainbox {
	background: grey;
	width: 230px;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	position: relative;
  display: inline-block;
}

.MTrainbox .img {
	float: left;
	width: 96;
	height: 40px;
	overflow: hidden;
	position: relative;
}

.MTrainbox .img img {
	width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.MTrainbox .setting_cog {
	width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
}

.MTrainbox .setting_cog svg {
	width: 100%;
  height: 100%;
	cursor: pointer;
	fill: #000000;
}

.MTrainbox .setting_cog svg:hover {
	fill: #ffffff;
}

#index {
	max-width: 100%;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

#index .Bigbutton {
	width:300px;
	height:150px;
	padding:20px;
	margin:20px;
	border-radius:10px;
	background-color:#2196F3;
	color:white;
	font-family:sans-serif;
	text-align:center;
	display: inline-block;
	cursor: pointer;
	position: relative;
}
@media screen and (max-width: 800px) {
    #index  .Bigbutton {
        float: none;
        width: calc(100% - 80px);
    }
}

#index .Bigbutton:hover {
	background-color: #3F51B5;
}

#index .Bigbutton svg {
	position: absolute;
	left: calc(50% - 100px);
	bottom: 20px;
	width: 200px;
}

#list {
	table-layout:fixed;
	width:100%;
}

#list td {
	overflow: hidden;
}

#list td:nth-child(1), #list th:nth-child(1) {width: 100px;}
#list td:nth-child(2), #list th:nth-child(2) {width: calc((100% - 150px) / 4);}
#list td:nth-child(3), #list th:nth-child(3) {width: calc((100% - 150px) / 4);}
#list td:nth-child(4), #list th:nth-child(4) {width: calc((100% - 150px) / 4);}
#list td:nth-child(5), #list th:nth-child(5) {width: calc((100% - 150px) / 4);}
#list td:nth-child(6), #list th:nth-child(6) {width: 50px;}

.trainbox .ui-slider-handle {
	width: 3em;
	height: 1.6em;
	margin: -.4em -0.8em;
	text-align: center;
	line-height: 1.6em;
}

.ui-slider-vertical {
  width: 1em;
}

.ui-widget-header {
	background-color: #adadad;
}


.button {
	padding: 5px;
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid black;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	vertical-align: center;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.button:hover {
	background-color: grey;
}